<div class="box">       
  <td><h2><%= link_to community.name, community %></h2></td>
  <td><%= community.about %></td><br><br>
  <td><b>Link:</b> <%= community.link %></td><br>
  <td><b>RSS:</b> <%= community.rss_feed %></td><br>
</div>