<div class="box">       
  <td><h2><%= link_to community.name, community.link %></h2></td>
  <td><%= community.about %></td><br><br>
  <td><%= community.category %></td>
  <td><%= markdown community.link %></td>
</div>