<% cache community do %>
<div class="box">       
  <td><h2><%= link_to community.name, community.link %></h2></td>
  <td><h4>About:</h4><%= community.about %></td><br><br>
  <td><h4>Link:</h4><%= markdown community.link %></td><br>
  <!-- <td><h4>Category:</h4><%= community.category %></td> -->
  <p align="center">View | Save | Share | Like</p>
</div>
<% end %>