<% if user_signed_in? %>
<div class="container">
<br><br>
  <div id="communities">
    <%= render @communities %>
  </div>
</div>
<% else %>
<div class="jumbotron">
  <div class="container" align="center">
    <br><h1>We ♥ Communities</h1>
    <p>Communities Finder helps you find and join communities you'll love
    </p><br>
    <p><%= link_to 'Dive in!', new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %></p><br><br><br>
  </div>
</div>
<div class="container">
  <br><br>
  <div id="communities">
    <%= render @communities %>
  </div>
</div>
<% end %>